<phpunit colors="true" testdox="true">
    <testsuites>
        <testsuite name="unit">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
    <php>
        <const name="TEST_MYSQL_DB_HOST" value="localhost" />
        <const name="TEST_MYSQL_DB_PORT" value="3306" />
        <const name="TEST_MYSQL_DB_USER" value="admin" />
        <const name="TEST_MYSQL_DB_PASS" value="" />
        <const name="TEST_MYSQL_DB_NAME" value="db_importer_test_mysql" />
    </php>
</phpunit>
